.article{
    font-size: rem(16);
    flex: 1;
}
.article__title{
    font-size: 2em;
}
.article__content{
    font-size: 0.9em;
    margin-top: 2em;
}
.article__action{
    margin-top: 2em;
}
.article-details{
    font-size: 16px;
    ul, ol, p{
        margin-bottom: 1em;
    }
    h1, h2, h3, h4, h5{
        color: $color-primary;
    }
    .article-details__title{
        color: #000;
    }
}
.article-details__header{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.article-details__title{
font-size: 2em;
color: #000;
}
.article-details__socials {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: row-reverse;
}
.article-details__date{
    display: flex;
    color: #808080;
    margin-bottom: 20px;
    font-size: 1em;
}
.article-details__date-item{
    margin-#{$end}: 20px;
}
.article-details__image{
    margin-bottom: 20px;
    img{
        width: 100%;
    }
}
.article-details__content{
    color: #373435;
    line-height: 1.8;
    font-size: 1em;
}
.article__rating-control{
    display: flex;
    align-items: center;
    label{
        margin-bottom: 0;
        margin-#{$end}: 20px;
    }
}
.article__captcha{
    height: 25px;
    margin: 0 50px;
}