//  .breadcrumb{
//      list-style: none;
//      display: flex;
//      padding: 0; 
//  }
//  .breadcrumb-item{
//      text-transform: uppercase;
//      font-size: 12px;
//      float: $start;
//      display: block;
//      > a{
//          color: #fff;
//          display: inline-block;
//      }
//  }
//  .breadcrumb-item+.breadcrumb-item::before {
//      display: inline-flex;
//      padding-right: .5rem;
//      padding-left: .5rem;
//      color: #fff;
//      content: ">";
//      display: block;
//      float: $start;
//  }
//  .active{
//      color: #fff;
//      font-weight: 900;
//      display: block;
//  }



.breadcrumb {
    margin-top: 20px;
    margin-bottom: 20px;
    // margin-#{$start}: 45px;
    display: inline-block;
    width: 100%;
    @include breakpoint(large){
        margin-top: 60px;
        margin-bottom: 40px;
    }
    >span {
        a {
            color: rgba(255, 255, 255, 0.8);
            font-size: 14px;
            display: inline-block;
        }
        &:nth-child(2n) {
            padding-right: .5rem;
            padding-left: .5rem;
            color: #fff;
            position: relative;
            top: 2px;
        }
    }
    .current {
        color: #fff;
        font-weight: 700;
        font-size: 14px;
    }
} 