.card {
    display: flex;
    flex-direction: column;
    border: 0;
    .card__image img{
        @include transition();
    }
}
.card:not(.card--absolute){
    &:hover{
        .card__image img{
            transform: scale(1.05);
        }
    }
}

.card__image {
    overflow: hidden;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        border: 1px solid rgba(#fff, .2);
    }
    >img {
        min-width: 100%;
    }
}

.card__content {
    background-color: #fff;
    color: #0e0e0e;
    padding: 1em 0;
    line-height: 1.7;
    font-size: rem(16);
    display: flex;
    flex-direction: column;
}
.card__footer{
    padding: 0 1em 1em 1em;
    display: flex;
    width: 100%;
    &--end{
        justify-content: flex-end;
    }
}
.card__icon{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-primary;
    border-radius: 50%;
    margin: 0 auto;
    svg{
        fill: #fff;
        width: 45px;
        height: 40px;
    }
}

.card--dark {
    .card__content {
        background-color: rgba(#000, .4);
        box-shadow: 0.035px 0.999px 40px 0px rgba(0, 0, 0, 0.29);
        color: #fff;
    }
    .card__brief {
        color: #fff !important;
        text-decoration: none;
    }
}
.card--raised{
    box-shadow: 0.035px 1px 5px 0px rgba(0, 0, 0, 0.29);
}

.card--horizontal {
    flex-direction: row;
    .card__image>img {
        min-height: 100%;
    }
}

.card__title {
    font-size: rem(22);
    font-weight: 500;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0.5em;
    @include breakpoint(isMobile) {
        font-size: 1.5em;
    }
    >a {
        color: inherit;
        text-decoration: none;
        @include transition();
        &:hover {
            color: $color-primary;
        }
    }
}

// .card__brief{
//     // margin-top: auto;
// }
.card--absolute {
    overflow: hidden;
    position: relative;
    .card__content {
        background: rgba(#000, .2);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        padding: 0;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 1;
    }
    .card__title{
        text-align: center;
        margin-bottom: 40px;
    }
    .card__brief{
        display: none;
        padding: 10px 10px 40px 10px;
    }
}
.card--absolute:hover{
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.33);
    .card__title{
        text-align: #{$start};
        color: #000;
        background-color: #fff;
        margin-bottom: 0;
        padding: 10px;
        border-top: 4px solid $color-secondary;
    }
    .card__brief{
        display: block;
        color: #000;
        background-color: #fff;
        
    }
    .card__icon{
        background-color: #fff;
        margin-#{$start}: 20px;
        margin-bottom: 30px;
        @include transition();
        > svg{
            fill: $color-primary;
        }
    }
}

.card--center {
    .card__content {
        align-items: center;
        justify-content: center;
    }
    .card__brief {
        font-size: rem(16);
        text-align: center;
        max-width: 80%;
    }
    .card__title {
        font-size: rem(35);
        // margin-top: 40px;
    }
    .card__action {
        margin-top: auto;
    }
}

.card__content--hover {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: all 0.5s ease-in-out;
}

.card:hover {
    .card__content--hover {
        opacity: 1;
        visibility: visible;
        max-height: 600px;
    }   
}

.card-list{
    .card{
        + .card{
            margin-top: 20px;
        }
    }
    .card__title{
        margin-bottom: 0;
    }
}

.card__idea{
    margin-bottom: 30px;
}
.card__date{
    color: #666;
    display: flex;
    justify-content: space-between;
    margin: 0 -10px 10px;
    span{
        padding: 0 10px;
    }
}

.eservice-card{
    height: 480px;
    .card__image{
        height: 100%;

        img{
            height: 100%;
        }
    }
}