.main-title--flex{
    display: flex;
    justify-content: space-between;
}
.main-title {
    font-size: rem(25);
    font-weight: 500;
    color: $color-text;
    margin: 0;
    display: inline-block;
    @include breakpoint(mid){
        font-size: rem(40);
    }
    &--light {
        color: #fff;
        +.main-title__brief {
            color: #fff;
        }
    }
    &:not(&--no-underline) {
        &:after {
            content: '';
            width: 65%;
            height: 8px;
            background: $color-primary;
            display: block;
            border-radius: 1em;
            margin-top: 5px;
        }
    }
    >p {
        font-size: .4em;
        margin-bottom: 0;
    }
}

.main-title--icon {
    display: flex;
    align-items: center;
    >svg {
        width: 90px;
        height: 90px;
        fill: $color-primary;

        @include breakpoint(isMobile){
            width: 60px;
            height: 60px;
            // margin-top: 30px;
        }

        @supports (margin-inline-end: 20px) {
            margin-inline-end: 20px;
        }
        @supports not (margin-inline-end: 20px) {
            margin-#{$end}: 20px;
        }
    }
}

.main-title__brief {
    margin-top: 4vh;
    margin-bottom: 0;
}