.main-footer{
    margin-top: auto;
}
.main-footer__top{
    background: $footer-bg;
    padding: $footer-padding;
    position: relative;
}
.main-footer__bottom{
    background: $footer-bottom-bg;
    border-top: 1px solid $footer-bg;
    padding: 15px 0;
    @include breakpoint(isCommon){
        font-size: rem(14);
    }
    .row{
        @include breakpoint(isCommon){
            display: block;
        }
    }
    .col{
        @include breakpoint(isCommon){
            text-align: center;
        }
    }
}
.main-footer__container{
    display: flex;
    justify-content: space-between;
    // align-items: center;
}

.main-footer__links {
    margin-bottom: 0;
    padding: 0;
    position: relative;
    list-style: none;
    @include breakpoint(isMobile){
        overflow: auto;
        flex-wrap: nowrap;
    }
    li{
        @include breakpoint(isCommon){
            margin-bottom: 20px;
        }
    }
    >.col {
        @include breakpoint(isMobile){
            flex: 0 0 48%;
        }
        @include breakpoint(isCommon) {
            margin-bottom: 30px;
        }
    }
}
.main-footer__link {
    display: block;
    font-size: rem(15);
    color: #606060;
    //white-space: pre;
    font-weight: 400;
    @include transition();

    + .main-footer__link {
        margin-top: 10px;
    }

    + .typo-body1 {
        margin-top: 15px;
    }

    &:hover {
        text-decoration: none;
        color: $color-secondary;
    }
}

.main-footer__vision{
    fill: rgba(#606060, .8);
    width: 150px;
    height: 100px;
    @include breakpoint(isMobile){
        width: 80px;
        height: 50px;
    }
}

.main-footer__quick-links{
    margin: 0;
    padding: 0 10px;
    list-style: none;
    display: flex;
    @include breakpoint(isCommon){
        margin-top: 20px;
        justify-content: center;
    }
    li{
        padding: 0 10px;
        + li{
            @supports (border-inline-start: 1px){
                border-inline-start: 1px solid #787878;
            }
            @supports not (border-inline-start: 1px){
                border-#{$start}: 1px solid #787878;
            }
        }
    }
    a{
        color: #787878;
        font-size: rem(14);
        transition: color 0.3s ease-in-out;
        &:hover{
            text-decoration: none;
            color: $color-secondary;
        }
    }
}
.main-footer__emblem{
    @supports (margin-inline-end: 15px){
        margin-inline-end: rem(15);
    }
    @supports not (margin-inline-end: 15px){
        margin-#{$end}: rem(15);        
    }
    @include breakpoint(large){
        @supports (margin-inline-end: 35px){
            margin-inline-end: rem(35);
        }
        @supports not (margin-inline-end: 35px){
            margin-#{$end}: rem(35);        
        }
    }
}
.l-full-page--auto-height{
    height: auto !important;
    .fp-tableCell{
        height: auto !important;
    }
}

// .main-footer{
//     @include breakpoint(isMobile){
//         padding-bottom: 14.5rem;
//     }
// }
.main-footer__logo{
    display: block;
    margin: 0 auto 20px;
}

.main-footer--dark{
    .main-footer__links{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main-footer__top{
        background-color: #171a20;
    }
    .main-footer__bottom{
        color: #fff;
        background-color: #131418;
        border-top: 1px solid #131418;
    }
    .main-footer__quick-links{
        a{
            color: #fff;
        }
    }
    .icon{
        > svg{
            fill: $color-secondary;
        }
        &:hover{
            > svg{
                fill:#fff;
            }   
        }
    } 
<<<<<<< HEAD
}
.main-footer__scroll{
    position: absolute;
    #{$end}: 24px;
    top: -24px;
    background: #242529;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
    > svg{
        width: 24px;
        height: 24px;
        fill: #fff;
    }
    &--secondary{
        background: $color-secondary;
    }
}
.main-footer__pattern{
    position: absolute;
    width: 100px;
    height: 140px;
    overflow: hidden;
    #{$end}: 0;
    top: 0;
    > svg{
        width: 100%;
        height: 100%;
        fill: rgba($color-secondary, .2);
        transform: translate(-50px,0) rotate(45deg);
    }
=======
>>>>>>> e4494bfe6aebea48525ba01ae121102ae1016e6c
}