.main-header {
    background-color: $header-bg;
    padding: $header-padding;
    z-index: 100;
    &--absolute,
    &--fixed {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: $header-z-index;
    }
    &--fixed {
        position: fixed;
    }
    svg{
        margin: 0 10px;
    }
}

.main-header--light {
    color: #fff;
    svg,
    .icon > svg{
        fill: #fff;
    }
    .nav-bar__menu-link{
        color: #fff;
        &:hover{
            color: $color-secondary;
        }
    }
    .nav-bar__secondary-menu .nav-bar__menu-item + .nav-bar__menu-item:before {
        background-color: rgba(#fff, .4);
    }
}

.main-header__container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.main-header__logo {
    margin: 0;
    display: flex;
    img{
        @include breakpoint(isCommon){
            width: 160px;
        }
    }
}

.main-header__responsive-icon {
    margin-#{$end}: 10px;
    z-index: $overlay-z-index+10;
    position: relative;
}

.main-header__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .54);
    opacity: 0;
    visibility: hidden;
    z-index: $overlay-z-index;
}

@include breakpoint(large) {
    .main-header__responsive {
        display: none;
    }
}

.main-header--open {
    .main-header__responsive-icon {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .main-header__overlay {
        opacity: 1;
        visibility: visible;
    }
    .nav-bar--responsive {
        transform: translateX(0);
    }
}
.eservice-header{
    font-size: 2em;
    display: flex;
    text-align: center;
}
.main-header--secondary{
    @include breakpoint(isCommon){
        .nav-bar--responsive{
            background-color: $color-secondary;
        }
        .nav-bar__menu{
            width: 100%;
        }
        .nav-bar__menu-link{
            flex: 1;
        }
    }
}