.l-home-section {
  padding: rem(30) 0;
  &--gray {
    background-color: #eee;
  }
}
.tabs__tab-panel {
  .card {
    opacity: 0;
    @include transition();
  }
}
.is-animated {
  .card {
    opacity: 1;
  }
}
.services-swiper {
  .swiper-slide {
    padding: 5px 5px 30px 5px;
  }
}
.home__announcements {
  @include breakpoint(large) {
    height: 430px;
    overflow: hidden;
  }
  position: relative;
  img {
    width: 100%;
  }
  .swiper-pagination {
    position: absolute;
    bottom: 30px;
  }
  &--govs{
    background: url("#{$img-path}/govs-service-banner.jpg") no-repeat 0 0;
    background-size: cover;
    .home__announcements-content{
      padding: 4em;
    }
    h2{
      font-size: rem(40);
      font-weight: 400;
      margin-bottom: 1em;
    }
    h3{
      font-size: rem(30);
      font-weight: 400;
      margin-bottom: 1em;
    }
    .button{
      color: #fff;
    }
  }
}

.home__announcements-content {
  height: 100%;
  img {
    height: 100%;
  }
}

.mobile-apps {
  background-color: #eaeaea;
  padding: 2em;
  @include breakpoint(large) {
    height: 430px;
    background: url('#{$img-path}/mobile-app-bg.jpg') no-repeat center center;
    background-size: cover;
  }
  .swiper-container {
    @include breakpoint(large) {
      width: calc(100% - 350px);
      margin: 0;
    }
  }
  .swiper-pagination {
    margin-top: 40px;
  }
}
@media (min-width: 1920px) {
  .mobile-apps {
    height: 100%;
  }
}

.mobile-apps__title {
  font-size: rem(50);
  font-weight: 500;
}
.mobile-apps__app-title {
  font-size: rem(44);
  font-weight: 400;
}
.mobile-apps__app-description {
  font-size: rem(16);
  margin: 30px 0;
}

.mobile-apps__stores {
  @include breakpoint(mid) {
    display: flex;
  }
  img {
    height: 48px;
    margin-bottom: 10px;
    @include breakpoint(mid) {
      margin-#{$end}: 10px;
      margin-bottom: 0;
    }
  }
}
