@font-face {
    font-family: 'DinNext';
    src: url('#{$font-path}/DinNextRegular.eot');
    src: local('?'), url('#{$font-path}/DinNextRegular.woff') format('woff'), url('#{$font-path}/DinNextRegular.ttf') format('truetype'), url('#{$font-path}/DinNextRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DinNext';
    src: url('#{$font-path}/DinNextMedium.eot');
    src: local('?'), url('#{$font-path}/DinNextMedium.woff') format('woff'), url('#{$font-path}/DinNextMedium.ttf') format('truetype'), url('#{$font-path}/DinNextMedium.svg') format('svg');
    font-weight: 500;
    font-style: 500;
}
